<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["App.Title"]</title>
    <script src="~/js/jquery.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
    <main>
        @RenderBody()
        <div id="Loader">
            <img src="~/img/load.png.gif" width="100px" height="100px" alt="Loading" />
        </div>
    </main>
    <div>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/moment.min.js"></script>
</body>
</html>
