<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Задачи</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
    </div>
</div>
<div class="b-divider"></div>
<div class="container">
    <div class="caption-top fs-5 fw-semibold" >
        <h4></h4>
    </div>
    <div class="description">
        <label class="text-muted">Описание:</label>
        <p></p>
    </div>
    <div class="executors">
        <label class="text-muted">Исполнители:</label>
        <p></p></div>
    <div class="time">
        <label class="text-muted">Период выполнения (фактическое время):</label>
        <p></p></div>
    <div class="status">
        <label class="text-muted">Статус:</label>
        <p class="statustext"></p></div>
</div>
<div class="controls">
    <div title="Удалить" class="btn delete-btn"><img width="45px" height="45px" src="/img/delete.svg"></div>
    <div title="Изменить" class="btn edit-btn"><img src="/img/edit.svg"></div>
    <div title="Добавить" class="btn add-btn"><img src="/img/new.svg"></div>
</div>
<div class="add">
    <div class="col-md-7 col-lg-8 pt-2">
        <h4 class="mb-3">Задача</h4>
        <form class="needs-validation" novalidate="">
            <div class="row g-3">
                <div class="col-12">
                    <label for="name-input" class="form-label">Наименование</label>
                    <input type="text" class="form-control" id="name-input" placeholder="Выполнить тестовое задание" value="" required="">
                    <div class="invalid-feedback">
                        Укажите наименование задачи.
                    </div>
                </div>

                <div class="col-12">
                    <label for="descriptionTextArea" class="form-label">Описание задачи</label>
                    <div class="input-group has-validation">
                        <textarea class="form-control" rows="3" id="descriptionTextArea" placeholder="Реализовать на ASP.NET Core планировщик задач"></textarea>
                        <div class="invalid-feedback">
                            Необходимо указать описание задачи.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="executors" class="form-label">Исполнители</label>
                    <input type="text" class="form-control" id="executors" placeholder="Исполнители">
                    <div class="invalid-feedback">
                        Пожалуйста, введите исполнителей задачи.
                    </div>
                </div>
                <label for="endDate" class="form-label">Дата окончания задачи</label>
                <div class="col-12">
                    <input type="date" class="form-control" id="endDate" placeholder="12.01.1999">
                </div>
                <div class="col-12">
                    <label for="parentID" class="form-label">Родительская задача<span class="text-muted"> (Опционально)</span></label>
                    <select id="parentID" class="form-control">
                        <option></option>
                        @{
                            foreach(var task in Model.GetNotCompletedTasks)
                            {
                                <option value="@task.TaskID">@task.Name</option>
                            }
                        
                        }
                    </select>
                    <div class="invalid-feedback">
                        Пожалуйста, введите исполнителей задачи.
                    </div>
                </div>

            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Добавить задачу</button>
        </form>
    </div>
</div>
<div class="confirmation">
    <p>Вы уверены, что хотите удалить задачу и все (5) подзадачи?</p>
    <div class="btn-group">
    <button id="confirm" class="btn btn-outline-secondary" type="button">Да</button>
    <button class="btn btn-outline-secondary" type="reset">Нет</button>
    </div>
</div>
<div class="cover"></div>